<nav>
  <div class='phone_status'>
    <li>
      <i class="fa-sharp fa-solid fa-signal"></i>  
    </li>
    <li>
      <i class="fa-solid fa-battery-half"></i>
    </li>
  </div>
  <ul class= 'log_in_nav'>
    <li><%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left fa-xl"></i>
    </li>
    <% end %>
    <li>
      <h3>REGISTER</h3>
    </li>
    <li>
      <h4>Next</h2>
    </li>
  </ul>
</nav>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
