<p style="color: green"><%= notice %></p>

<h1>Budgets</h1>
<div class='back_button_container'>
  <%=link_to 'Go back', groups_url, class: 'create_button back_button' %>
</div>

<div id="budgets">
  <% @budgets.each do |budget| %>
    <%= render budget %>
    <p>
      <%= link_to "Show this budget", budget %>
    </p>
  <% end %>
</div>

<button>
  <%= link_to "Add a new transaction", new_group_budget_path %>
</button>
