<div id="<%= dom_id group%>">
  <article class='category_card'>
    <%= link_to group_budgets_path(group.id) do %>
    <%= image_tag "#{group.icon}", size: "75x75" %>
    <p>
      <%= group.name %>
    </p>
    <p>$ <%= group.total_price%></p>
    <% end %>
  </article>
</div>
