<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class= "navigation_bar">
      <ul class= "nav_links">
        <li><%= link_to "Categories", groups_path %></li>
      </ul>
      <% if user_signed_in? %>
        <div class= "log_out_container">
          <%= button_to "Log out", destroy_user_session_path,
          { method: :delete, data: { turbo: false}, class: 'create_button log_out'} %>
        </div>
      <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
